.tt-output {
    font-family: 'firamono', monospace;
    font-size: 1.25rem;
    line-height: 1.66rem;
    white-space: pre-wrap;
}

.tt-output.user-input {
    font-style: italic;
    font-weight: bold;
}

.tt-label {
    font-size: 0.9rem;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    margin-left: 15px;
    margin-top: 3px;
}