body {
    font-family: 'arsenal', sans-serif;
    font-stretch: semi-expanded;
}

main {
    margin-top: 69px;
}

h1, .h1 {
    font-size: 2.0rem;
}

h2, .h2 {
    font-size: 1.66rem;
    font-weight: bold;
}

.h-horizontal h2 {
    display: inline-block;
}

.h-horizontal button {
    vertical-align: text-top;
    padding: 0.1rem 0.3rem 0;
    margin-left: 1rem;
    margin-top: -0.66rem;
}

    .h-horizontal button .collapse-button::after {
        font-family: 'mlibby-icons' !important;
        content: '\f068';
    }

    .h-horizontal button.collapsed .collapse-button::after {
        content: '\f067';
    }

.smallish {
    max-width: 90%;
    margin: 5%;
}

figcaption {
    text-align: center;
}

.about-icon {
    margin-right: 10px;
    font-size: 1.5rem;
    vertical-align: top;
    width: 2rem;
}
