body {
    font-family: 'arsenal', sans-serif;
    font-stretch: semi-expanded;
}

main {
    margin-top: 69px;
}

blockquote {
    display: inline-block;
    position: relative;
    padding: 0.75rem 1rem 0.75rem 1.25rem;
    margin: 1rem 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #004085;
    border-radius: 0.25rem;
}

blockquote:before {
    font-family: 'mlibby-icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\f10d";
    padding-right: 0.5rem;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

h1, .h1 {
    font-size: 2.0rem;
}

h2, .h2 {
    font-size: 1.66rem;
}

h3, .h3 {
    font-size: 1.5rem;
}

h4, .h4 {
    font-size: 1.33rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1.1rem;
}

.h-horizontal h2 {
    display: inline-block;
}

.h-horizontal button {
    vertical-align: text-top;
    padding: 0.1rem 0.3rem 0;
    margin-left: 1rem;
    margin-top: -0.66rem;
}

    .h-horizontal button .collapse-button::after {
        font-family: 'mlibby-icons' !important;
        content: '\f068';
    }

    .h-horizontal button.collapsed .collapse-button::after {
        content: '\f067';
    }

.smallish {
    max-width: 90%;
    margin: 5%;
}

figcaption {
    text-align: center;
}

.about-icon {
    margin-right: 10px;
    font-size: 1.5rem;
    vertical-align: top;
    width: 2rem;
}

dl.job-details {
    border-top: 1px grey solid;
    margin-top: 1rem;
}

.ai dt {
    float: left;
    clear: left;
    font-weight: bold;
}

.ai dd {
    margin: 0 0 0 66px;
    padding: 0 0 0.5em 0;
}

.ai .parenthetical dd::before {
    content: '(';
}

.ai .parenthetical dd::after {
    content: ')';
}

.ai .search-results dt::after {
    content: ': '
}

.ai .search-results dt {
    width: 210px;
    text-align: right;
}

.ai .search-results dd {
    margin: 0 0 0 220px;
}

.ai .puzzle {
    border: 3px solid black;
    padding: 5px;
    float: left;
    background-color: #c0c0c0;
}

.ai .puzzle-spot {
    display: inline-block;
    font-size: 2em;
    width: 2.1em;
    height: 2.1em;
    padding: 2px;
}

.ai .tile {
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
    line-height: 1.8em;
    background-color: white;
    border-radius: 2px;
    margin: 0;
    position: relative;
    z-index: 25;
}

.ai .number-9 {
    z-index: 1;
}

.ai .tile.empty {
    border: 0;
    background-color: #c0c0c0;
}

.ai .shuffle-tiles {
    margin: 15px 0;
}

.ai .search-results {
    margin-bottom: 5px;
}