---
layout: default
title: Other Projects
---
%h2 Other Projects I've Done
%ul
  %li
    %a{ href: "/other/befunge"} Befunge IDE
    &mdash; write programs in a 2D matrix
  %li
    %a{ href: "/other/rgb-clock"} RGB Clock
    &mdash; a clock that tells time using the colors Red, Blue, and Green