-var title="Oregon Trail"

doctype html
html
  include _includes/head.pug
  body
    include _includes/nav.pug
    main.container
      #app(aria-live="polite")
        .row
          .col
            section#oregon-trail
              h2 Play the #[em Original]  Oregon Trail Game
              blockquote
                span.icon-quotes-left.mr-2
                span.italics You have died of dysentery.
              p.
                The quote above from the game Oregon Trail is an internet meme
                at this point... but did you know it wasn&apos;t in the original game? The first version of Oregon Trail
                was a text-only adventure written for a timeshare computer that students would interact with at a teletype
                terminal. It was this version that I first encountered. I have been wanting to see it again for some time now.
              p.
                This is my attempt to re-create that original version of &quot;The Oregon Trail&quot;.
                There are no graphics. Whenever the computer has printed out its part, you will get an
                input box for your response. Just type into it and press Enter/Return. If the program is
                expecting a number, you will only be able to type numbers into the box.
              p.
                Please enjoy! If you are interested, here is #[a(href='/oregon/why-and-how') an essay with more background on why and how]
                I put this together.
              button.play-oregon.btn.btn-primary.mb-3 Play The Oregon Trail
    script(src="/js/oregon.js" type="module")
