-var title="Run Web Browser in RetroPie"

doctype html
html
    include ../_includes/head.pug

    body
        include ../_includes/nav.pug

        main.container
            .row
                .col
                    section.notes
                        div.clearfix
                            h2.float-left Convince RetroPie/Emulation Station to Run a Web Browser as a System
                            p.float-right last updated: 2020-02-03
                        p. 
                            Assumption Number One: RetroPie is installed on top of a full desktop version of Raspian
                            using directions found at: https://retropie.org.uk/docs/Manual-Installation/
                        p. 
                            https://www.ketzler.de/2017/12/installing-chromium-on-raspberry-pi-without-desktop/