-var title="Common Ancestors"

doctype html
html
  include ../_includes/head.pug

  body
    include ../_includes/nav.pug

    main.container
      .row
        .col
          section.notes
            div.clearfix
              h2.float-left Common Ancestors 
              p.float-right last updated: 2020-10-12
            h3 Introduction
            p
              The goal of this web page is to illustrate through programming
              how we might calculate something interesting about humanity and
              ancestry. Namely, how many generations do we need to go back in 
              literally everyone's family tree to get to a point where we can 
              conclusively say that we are all related?

              Looking at a traditional family tree, this concept is rather counter-
              intuitive. But looking at the math, we can quickly work out how many
              ancestors each person has per generation. Then we can work from the 
              fact that there are more people alive on earth now than in the past to 
              confirm something you might see on a family tree, depending on how it's 
              drawn: cousins and sets of siblings all share a grandparent.

              So while I have four grandparents, I share two of them with several other 
              people (cousins on my mom's side and my sister) and two of them with just a few 
              other people (cousins on my dad's side and my sister again). 

            h3 Calculating Ancestors for Me
            p 
              Calculating how many ancestors I have for each generation going back just
              multiply by two. Starting with me, it's 1. So my parents generation is 1 x 2 = 2.
              My grandparents generation is 2 ^ 2 = 4. My great-grandparents generation is
              2 ^ 3 = 8. So let's get the show on the road here:

              2 ^ 4 = 16
              2 ^ 5 = 32
              2 ^ 6 = 64
              2 ^ 7 = 128
              2 ^ 8 = 256
              ...
              2 ^ 16 = 65,536
              ...
              2 ^ 28 = 268,435,456
              2 ^ 29 = 536,870,912
              ...
              2 ^ 32 = 4,294,967,296
              2 ^ 33 = 8,589,934,592

              So you can see that within 33 generations, if all of my ancestors are to be unique
              individuals, I would have more ancestors than there are people on Earth right now.

              Just for kicks, let's say a birth-to-reproduction life cycle (aka "generation") takes
              25 years. That means that in 33 * 25 = 825 years I will have too many ancestors.

              For further kicks, we'll have to go find some estimates for how many people were
              actually on the earth 825 years ago. It wasn't sure wasn't 8.6 billion 
              people. It was probably was closer to 300 million. So the point in history at 
              which my ancestor count exceeds the population of Earth is more recent than 33
              generations ago.

              I've looked on the web and found a page that in the 1500s there were probably around
              400-500 million people on the planet. So let's see if we can find a generation count
              that would get us close to that. Looking at that chart above that's the 29 generations
              ago.

            h3 My Cousins' Ancestors
            p
              So we've established that within 29 generations back, my ancestor count exhausts the
              population of Earth. That doesn't mean that everyone on Earth at that point was an 
              ancestor of mine, instead what it means is that there are-- no way, no how-- enough 
              people on the planet for all of my ancestors to have been unique individuals. That 
              means that someone on my dad's side is also on my mom's side.

              And most likely this type of cross-over person is occurring more often that, since it's 
              not like the whole population of earth was carefully planning my family tree in such a 
              way as to make every member of it unique.

              No... the more likely story is that a lot of my ancestors are cousins, albeit many times 
              removed.

              Let's use another mathematical progression to see how many descendants a given ancestor
              would have after a number of generations. For the sake of argument, let's say there's a nice
              place in the upper midwest that nobody lives, and we've got 4 couples who'd like to found a
              new society there.

              The first generation is 8 people. If each couple has two children, the second generation
              is also 8 children (4 couples x 2 children). Now we have a problem. If we got lucky and there
              were 4 boys and 4 girls in the 2nd generation, that's 4 couples, and if they each have 2 
              children, that's 8 children. This population isn't going to grow much, if each successive 
              generation is the same size as the previous one. So we'll need to do something different.

              


 