.ai dt {
  float: left;
  clear: left;
  font-weight: bold;
  padding-right: 0.5em;
}

.ai dd {
  margin: 0;
  padding: 0 0 0.5em 0;
}

.ai .parenthetical dd::before {
  content: '(';
}

.ai .parenthetical dd::after {
  content: ')';
}

.ai .search-results dt::after {
  content: ': '
}

.ai .search-results dt {
  width: 210px;
  text-align: right;
}

.ai .search-results dd {
  margin: 0 0 0 220px;
}

.ai .puzzle {
  border: 3px solid black;
  padding: 5px;
  float: left;
  background-color: #c0c0c0;
}

.ai .puzzle-spot {
  display: inline-block;
  font-size: 2em;
  width: 2.1em;
  height: 2.1em;
  padding: 2px;
}

.ai .tile {
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  line-height: 1.8em;
  background-color: white;
  border-radius: 2px;
  margin: 0;
  position: relative;
  z-index: 25;
}

.ai .tile.empty {
  z-index: 1;
  border: 0;
  background-color: #c0c0c0;
}

.ai .shuffle-tiles {
  margin: 15px 0;
}

.ai .search-results {
  margin-bottom: 5px;
}
