.befunge .torus-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.befunge .console, .befunge .stack {
    height: 10rem;
}

.befunge .console, .befunge .stack, .befunge .torus-row input {
    font-family: FiraCode, monaco, monospace;
}

.befunge .torus-row {
    width: 1134px;
}

.befunge .torus, .befunge .torus-row {
    margin: 0;
    padding: 0;
    clear: both;
}

.befunge .torus input {
    float: left;
    width: 13px;
    height: 19px;
    text-align: center;
    margin: 0 1px 1px 0;
    padding: 1px 0 0 0;
    border: 0;
    border-radius: 3px;
    background-color: #d0d0d0;
    font-size: 11px;
}

.befunge .torus .active-cell {
    background-color: #00b000;
    color: white;
}

.befunge .torus .breakpoint {
    background-color: #ff0000;
    color: white;
}
