---
layout: post
title: "What Programmers Mean When We Say..."
---
<table>
<caption>What Programmers Mean When We say...</caption>
<thead>
<tr>
<th>What we say</th>
<th>What we mean</th>
</tr>
</thead>
<tbody>
<tr>
<td>Horrible hack</td>
<td>Horrible hack that I didn't write</td>
</tr>
<tr>
<td>Temporary workaround</td>
<td>Horrible hack that I wrote</td>
</tr>
<tr>
<td>It's broken</td>
<td>There are bugs in your code</td>
</tr>
<tr>
<td>It has a few issues</td>
<td>There are bugs in my code</td>
</tr>
<tr>
<td>Obscure</td>
<td>Someone else's code doesn't have comments</td>
</tr>
<tr>
<td>Self-documenting</td>
<td>My code doesn't have comments</td>
</tr>
<tr>
<td>That's why it's an awesome language</td>
<td>It's my favorite language and it's really easy to do something in it.</td>
</tr>
<tr>
<td>You're thinking in the wrong mindset</td>
<td>It's my favorite language and it's really hard to do something in it.</td>
</tr>
<tr>
<td>I can read this Perl script</td>
<td>I wrote this Perl script</td>
</tr>
<tr>
<td>I can't read this perl script</td>
<td>I didn't write this perl script</td>
</tr>
<tr>
<td>Bad structure</td>
<td>Someone else's code is badly organized</td>
</tr>
<tr>
<td>Complex structure</td>
<td>My code is badly organized</td>
</tr>
<tr>
<td>Bug</td>
<td>The absence of a feature I like</td>
</tr>
<tr>
<td>Out of scope</td>
<td>The absence of a feature I don't like</td>
</tr>
<tr>
<td>Clean solution</td>
<td>It works and I understand it</td>
</tr>
<tr>
<td>We need to rewrite it</td>
<td>It works but I don't understand it</td>
</tr>
<tr>
<td>emacs is better than vi</td>
<td>It's too peaceful here, let's start a flame war</td>
</tr>
<tr>
<td>vi is better than emacs</td>
<td>It's too peaceful here, let's start a flame war</td>
</tr>
<tr>
<td>IMHO</td>
<td>You are wrong</td>
</tr>
<tr>
<td>Legacy code</td>
<td>It works, but no one knows how</td>
</tr>
<tr>
<td>^X^Cquit^[ESC][ESC]^C</td>
<td>I don't know how to quit vi</td>
</tr>
</tbody>
</table>