head
  title= title.toLowerCase() === "index" ? "mlibby.com" : title + " - mlibby.com"

  link(href="/css/fonts.css" rel="stylesheet")
  link(href="/css/bootstrap.css" rel="stylesheet")
  link(href="/css/mlibby-icons.css" rel="stylesheet")
  link(href="/css/site.css" rel="stylesheet")
  link(href="/css/htmletype.css" rel="stylesheet")

  script(src="https://www.w3counter.com/tracker.js?id=127536")
  script(src="/js/lib/jquery.min.js")
  script(src="/js/lib/bootstrap.min.js")