nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  .container
    h1
      a.navbar-brand(href="/") mlibby.com
    button.navbar-toggler.btn.btn-outline-dark(type="button", data-toggle="collapse", data-target="#navbar-content")
      span.navbar-toggler-icon
    #navbar-content.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a#nav-about.nav-link(href="/about") About Me
        li.nav-item
          a#nav-ai.nav-link(href="/ai") Artificial Intelligence
        li.nav-item
          a#nav-oregon.nav-link(href="/oregon") Oregon Trail
        li.nav-item
          a#nav-other.nav-link(href="/other") Other Projects
