-var title="AI"

doctype html
html
  include _includes/head.pug

  body
    include _includes/nav.pug

    main.container
      .row
        .col
          section.ai
            h2 Artificial Intelligence Practice
            p These are practice programs I've written as I work through the textbook 
              a(href="http://aima.cs.berkeley.edu/index.html")
                cite Artificial Intelligence: A Modern Approach
              | .

            h3 Chapter 3: Problem Solving
            dl.parenthetical
              dt
                a(href="/ai/search") Search
              dd
                a(title="Sweet Dreams by the Eurythmics" href="https://www.youtube.com/watch?v=qeMFqkcPYcg") "Everybody's looking for something" 
              dt
                a(href="/ai/puzzle") 8 Puzzle
              dd The classic sliding tiles puzzle.
