-var title="index"

doctype html
html
  include _includes/head.pug

  body
    include _includes/nav.pug

    main.container
      #app(aria-live="polite")

        h2 Hello!
        p.
          I am Michael C. Libby and this is my site. I am a software developer, web developer, and constantly learning
          more about computers and programming them. My friends tend to call me &ldquo;Libby.&rdquo; You are welcome to
          do the same.
        h2 Unsupported Browser?
        p.
          It's possible that this web site and your web browser are not compatible. If you are
          using an outdated browser like Internet Explorer or Netscape Navigator, then I'd suggest using Firefox, Edge,
          or even Chrome. If you are using a text-mode browser, I'm sorry, but this site is all about Javascript code which
          doesn't work in any text-mode browsers I'm aware of.