-var title="AI"

doctype html
html
  include _includes/head.pug

  body
    include _includes/nav.pug

    main.container
      .row
        .col
          section.notes
            h2 My notes to self
            ul
              li 
                | (2019-10-05) #[a(href="/notes/raspberry_pi_setup") Raspberry Pi Setup] : setting up a Raspberry Pi 3A+ 
                | to connect to WiFi, compile Crystal language, and participate in Windows network.
