-var title="Other Projects"

doctype html
html
  include _includes/head.pug
  body
    include _includes/nav.pug
    main.container
      article.row
        .col
          h2 Other Projects I've Done
          ul
            li
              a(href="/other/befunge") Befunge IDE
              | - write programs in a 2D matrix
            li
              a(href="/other/rgb-clock") RGB Clock
              | - a clock that tells time using the colors Red, Blue, and Green