-var title="Other Projects"

doctype html
html
  include _includes/head.pug
  body
    include _includes/nav.pug
    main.container
      article.row
        .col
          h2 Other Projects I've Done
          p.
            I like to dabble in electronics once in a while, so here's some outtakes 
            from that process.
          ul
            li
              a(href="/other/rgb-clock") RGB Clock
              | - a clock that tells time using the colors Red, Blue, and Green