-var title="Befunge IDE"

doctype html
html
  include ../_includes/head.pug
  body
    include ../_includes/nav.pug
    main.container.befunge
      .row
        .col.mb-3
          h2 Befunge IDE (beta)
          section.help(style="display:none;")
            hr
            h3 HELP!
              button.btn.btn-sm.btn-danger.close-help.float-right
               span.icon-cross
               span.sr-only Close Help
            h4 What is Befunge?
            p Befunge is an interpreted, two-dimensional, stack-based programming language originally created in 1993 by Chris Pressey.
            p Rather than try to explain Befunge in depth, I refer you to the official language documentation at 
              a(href="https://github.com/catseye/Befunge-93/blob/master/doc/Befunge-93.markdown") github.com/catseye/Befunge-93
            p Quick summary: the program is in a grid, each cell contains an instruction, the program can execute left-to-right,
              | right-to-left, top-to-bottom, and bottom-to-top. As the program executes it wraps around the edges. There is a 
              | stack that the program can push and pop values off of. The program can also read and modify any cell in the grid.
            p My suggestion is to pick a stock program, turn on debug mode (click the bug button), and watch a program in action.
              | If it's going too fast, click the <code>-</code> button to slow it down.
            hr
          section.info(style="display:none;")
          section.form-inline
            .input-group
              select.stock-files.form-control.mr-2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
                option(selected value="0") Choose a stock program...
              .btn-group.mr-2
                button.open-file.btn.btn-outline-secondary(title="Load File")
                  span.icon-upload
                  span.sr-only Open File
                input.file.mr-3(type="file" style="display:none;")
                button.save-file.btn.btn-outline-secondary(title="Save File" disabled)
                  span.icon-floppy-disk
                  span.sr-only Save File
            .input-group
              .btn-group.mr-2
                button.reset.btn.btn-outline-primary(title="Reset Befunge")
                  span.icon-refresh
                  span.sr-only Reset Befunge
                button.run.btn.btn-outline-primary(title="Run")
                  span.icon-play
                  span.sr-only Run
                button.step.btn.btn-outline-primary(title="Step")
                  span.icon-next
                  span.sr-only Step
                button.stop.btn.btn-outline-primary(title="Stop")
                  span.icon-stop
                  span.sr-only Stop
              .btn-group.mr-2
                button.debug.btn.btn-outline-info(title="Toggle Debug Mode" aria-pressed="false")
                  span.icon-bug
                  span.sr-only Debug
                button.slower.btn.btn-outline-info(title="Slower")
                  span.icon-minus
                  span.sr-only Slower
                button.faster.btn.btn-outline-info(title="Faster")
                  span.icon-plus
                  span.sr-only Faster
              .btn-group.mr-2
                button.help.btn.btn-outline-success(title="Help")
                  span.icon-question
                  span.sr-only Help
                button.info.btn.btn-outline-success(title="Info")
                  span.icon-info
                  span.sr-only Info
      .row.mb-3
        section.col-md-7
          h3.h-horizontal Console
          button.clear-console.btn.btn-sm.btn-outline-danger.by-header(title="Clear Console")
            span.icon-trash(aria-hidden="true")
            span.sr-only Clear Console
          textarea.console.form-control(readonly)
        .d-block.d-md-none &nbsp;
        section.col-md-5
          h3.h-horizontal Stack
          select.stack-mode.form-control.form-control-sm.by-header
            option(value="asc" selected) ascii mode
            option(value="dec") decimal mode
            option(value="hex") hex mode
          textarea.stack.form-control(readonly)
      .row
        section.col
          h3 Torus
          .torus-wrapper
            .torus
    script(src="/js/other/befunge.js" type="module")