-var title="Befunge IDE"

doctype html
html
  include ../_includes/head.pug
  body
    include ../_includes/nav.pug
    main.container.befunge
      .row
        section.col.mb-3
          .form-inline
            select#befunge-stock-files.form-control.mr-2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
              option(selected value="0") Choose a stock program...
            .input-group
              .btn-group.mr-2
                button.btn.btn-secondary(title="Load File")
                  span.icon-upload
                  span.sr-only Open File
                input#befunge-file.mr-3(type="file" style="display: none;")
                // input#file-name.form-control(type="text")
                button#save-file.btn.btn-secondary(title="Save File")
                  span.icon-hdd-o
                  span.sr-only Save File
              .btn-group.mr-2
                button#befunge-reset.btn.btn-primary(title="Reset Befunge")
                  span.icon-refresh
                  span.sr-only Reset Befunge
                button#befunge-run.btn.btn-primary(title="Run")
                  span.icon-play
                  span.sr-only Run
                button#befunge-stop.btn.btn-primary(title="Stop")
                  span.icon-stop
                  span.sr-only Stop
              .btn-group
                button#befunge-slower.btn.btn-info(title="Slower")
                  span.icon-chevron-down
                  span.sr-only Slower
                button#befunge-faster.btn.btn-info(title="Faster")
                  span.icon-chevron-up
                  span.sr-only Faster
      .row.mb-3
        section.col-md-6
          h2.h-horizontal Console
          button#befunge-clear.btn.btn-danger.by-header(title="Clear Console")
            span.icon-remove(aria-hidden="true")
            span.sr-only Clear Console
          textarea#befunge-console.form-control(readonly)
        section.col-md-6
          h2.h-horizontal Stack
          select#befunge-stack-mode.form-control.by-header
            option(value="asc" selected) ascii
            option(value="dec") decimal
            option(value="hex") hexadecimal
          textarea#befunge-stack.form-control(readonly)
      .row
        section.col
          h2 The Torus
          #torus-wrapper
            #torus
    script(src="/js/other/befunge.js" type="module")