-var title="Befunge IDE"

doctype html
html
  include ../_includes/head.pug
  body
    include ../_includes/nav.pug
    main.container.befunge
      .row
        .col.mb-3
          h2 Befunge IDE (beta)
          section.help(style="display:none;")
            hr
            h3 HELP!
              button.btn.btn-sm.btn-danger.close-help.ml-3
               span.icon-close
               span.sr-only Close Help
            h4 What is a Befunge?
            p Befunge (technically "Befunge-93") is a programming language where the program is written in a grid of cells. 
              | Each cell contains a single instruction. As the program is run (starting from the top-left cell) the program
              | counter moves to an adjacent cell based on which direction it is already moving. The initial direction is to the right.
              | If the program counter moves past the edge of the grid, it wraps around to the other side. The direction of movement
              | can be changed using symbols in the program: <code>&gt;</code>, <code>&lt;</code>, <code>^</code>, <code>v</code>, and <code>?</code>
            p While the program is running values may be pushed onto and popped off the stack. The stack is simply a list of numbers that is
              | kept in memory by Befunge as it runs the program. 
            hr
          section.info(style="display:none;")
          section.form-inline
            .input-group
              select.stock-files.form-control.mr-2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
                option(selected value="0") Choose a stock program...
              .btn-group.mr-2
                button.open-file.btn.btn-outline-secondary(title="Load File")
                  span.icon-upload
                  span.sr-only Open File
                input.file.mr-3(type="file" style="display:none;")
                button.save-file.btn.btn-outline-secondary(title="Save File" disabled)
                  span.icon-floppy-disk
                  span.sr-only Save File
            .input-group
              .btn-group.mr-2
                button.reset.btn.btn-outline-primary(title="Reset Befunge")
                  span.icon-refresh
                  span.sr-only Reset Befunge
                button.run.btn.btn-outline-primary(title="Run")
                  span.icon-play
                  span.sr-only Run
                button.step.btn.btn-outline-primary(title="Step")
                  span.icon-next
                  span.sr-only Step
                button.stop.btn.btn-outline-primary(title="Stop")
                  span.icon-stop
                  span.sr-only Stop
              .btn-group.mr-2
                button.debug.btn.btn-outline-info(title="Toggle Debug Mode" aria-pressed="false")
                  span.icon-bug
                  span.sr-only Debug
                button.slower.btn.btn-outline-info(title="Slower")
                  span.icon-minus
                  span.sr-only Slower
                button.faster.btn.btn-outline-info(title="Faster")
                  span.icon-plus
                  span.sr-only Faster
              .btn-group.mr-2
                button.help.btn.btn-outline-success(title="Help")
                  span.icon-question
                  span.sr-only Help
                button.info.btn.btn-outline-success(title="Info")
                  span.icon-info
                  span.sr-only Info
      .row.mb-3
        section.col-md-7
          h3.h-horizontal Console
          button.clear-console.btn.btn-sm.btn-outline-danger.by-header(title="Clear Console")
            span.icon-trash(aria-hidden="true")
            span.sr-only Clear Console
          textarea.console.form-control(readonly)
        .d-block.d-md-none &nbsp;
        section.col-md-5
          h3.h-horizontal Stack
          select.stack-mode.form-control.form-control-sm.by-header
            option(value="asc" selected) ascii mode
            option(value="dec") decimal mode
            option(value="hex") hex mode
          textarea.stack.form-control(readonly)
      .row
        section.col
          h3 Torus
          .torus-wrapper
            .torus
    script(src="/js/other/befunge.js" type="module")