-var title="AI Puzzle"

doctype html
html
  include ../_includes/head.pug
  body
    include ../_includes/nav.pug
    main.container.ai
      .row
        .col-sm-12
          h2 AI: Solve the 8 Puzzle
          p
            | The 8 Puzzle consists of a 3x3 board with eight numbered tiles and an empty spot. A tile adjacent to the empty
            | spot can slide into that spot. The goal of the puzzle is to order all of the tiles numerically, leaving the
            | empty spot in the lower-right corner.
      .row
        .col-sm-6
          h3 The Puzzle
          #puzzle
            .puzzle-row
              #spot-1.puzzle-spot
                #number-1.tile 1
              #spot-2.puzzle-spot
                #number-2.tile 2
              #spot-3.puzzle-spot
                #number-3.tile 3
            .puzzle-row
              #spot-4.puzzle-spot
                #number-4.tile 4
              #spot-5.puzzle-spot
                #number-5.tile 5
              #spot-6.puzzle-spot
                #number-6.tile 6
            .puzzle-row
              #spot-7.puzzle-spot
                #number-7.tile 7
              #spot-8.puzzle-spot
                #number-8.tile 8
              #spot-9.puzzle-spot
                #number-9.tile.empty &nbsp;
          button#shuffle-tiles.btn.btn-primary Shuffle Tiles
          p Note: not all tile arrangments are guaranteed to be solvable.
          form.form.form-horizontal
            .form-group
              label.control-label(for='search-algorithm') Choose Search Algorithm
              select#search-algorithm.form-control
                option(value='tree-search' disabled='disabled') Tree-Search
                option(value='graph-search-bfs') Graph-Search (breadth first)
                option(value='graph-search-dfs') Graph-Search (depth first)
                option(value='uniform-cost-search') Uniform-Cost-Search
            .form-group
              button#solve-puzzle.btn.btn-primary Solve Puzzle
        .col-sm-6
          h3 Results
          dl.search-results
            dt
              | Nodes used in search
            dd#nodes-used
              | 0
            dt
              | Elapsed search time (ms)
            dd#elapsed-time
              | 0
            dt
              | Path Cost
            dd#path-cost
              | 0
            dt
              | Solution Path
            dd#solution
              | ...
          form.form
            .form-group
              button#watch-solution.btn.btn-primary(disabled='disabled') Watch Solution
