---
layout: post
title: "Programming Immersion School"
---
- Haml::Filters::CodeRay.encoder_options = { :css => :class }
%p
  I've been hoping to get my children into computer programming.
  It's always been a tough sell, but I think I've managed to 
  convince my son to give it a go. But how to go about it?
%p
  I've tried getting him to do those "Programming for Kids" types
  of books, but that's just not his style. I'm a massive bookworm
  myself and have <em>devoured</em> programming books. But it's
  now how I learned to program the first time as a teen, and not 
  really how I learned the second time as an adult either.
%p
  When I was learning the first time in the 80's. I had a couple
  of manuals for our Commodore and there were magazines like 
  %a{ href: "https://archive.org/details/byte-magazine" } Byte
  and
  %a{ href: "https://archive.org/details/compute-magazine" } Compute !
  \. And that was really it, other than talking to some other kids at
  school. So 